@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,500|Roboto+Condensed:300,300i,400,400i&display=swap&subset=latin-ext');

html {
  font-size: 137.5%;
  word-spacing: 1px;
  -ms-text-size-adjust: 137.5%;
  -webkit-text-size-adjust: 137.5%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}



p {
  margin-bottom: 1.15rem;
  font-family: 'Roboto Condensed', sand-serif;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 2.75rem 0 1.05rem;
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  line-height: 1.15;
}

h1 {
  margin-top: 0;
  font-size: 3.052em;
}

h2 {
  font-size: 2.441em;
}

h3 {
  font-size: 1.953em;
}

h4 {
  font-size: 1.563em;
}

h5 {
  font-size: 1.25em;
}

small,
.text_small {
  font-size: 0.8em;
}
